# Dart/Flutter specific
.dart_tool/
.packages
build/
pubspec.lock

# Documentation folder
doc/api/

# Environment variables file
.env*

# Dart compiled JS files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode 
.vscode/
